#pesel {
    width: 15em;
}
#plec {
    width: 15em;
}
#miejsce_zamieszkania {
    width: 15em;
}
#wojewodztwo {
    width: 15em;
}
#recznosc {
    width: 15em;
}
#porody {
    width: 15em;
}
#wyksztalcenie {
    width: 15em;
}
#stan_rodzinny {
    width: 15em;
}
#zatrudnienie {
    width: 15em;
}
#praca_dochod {
    width: 15em;
}
#sm_w_rodzinie {
    width: 15em;
}
#inicjaly {
    width: 15em;
}
#data_zgonu {
    width: 15em;
}
#data_pierwszych_objawow {
    width: 15em;
}
#data_rozpoznania_choroby {
    width: 15em;
}
#przebieg_choroby{
    width: 15em;
}
#badanie_mri{
    width: 15em;
}
#badanie_plynu{
    width: 15em;
}
#leczenie_objawowe{
    width: 15em;
}
#leczenie_immunomodulujace{
    width: 15em;
}
#data_zgonu{
    width: 15em;
}

.ankieta {
    text-align: center;
}
.msis_eq5d_check {
    text-align: right;
}





#minor-publishing-actions {
    display: none;
}
#misc-publishing-actions {
    display: none;
}