

#Plec {
    width: 15em;
}
#MiejsceZamieszkania {
    width: 15em;
}
#Wojewodztwo {
    width: 15em;
}
#Recznosc {
    width: 15em;
}
#Porody {
    width: 15em;
}
#Wyksztalcenie {
    width: 15em;
}
#StanRodzinny {
    width: 15em;
}
#Zatrudnienie {
    width: 15em;
}
#PracaZarobek {
    width: 15em;
}
#sm_w_rodzinie {
    width: 15em;
}
#inicjaly {
    width: 15em;
}
#data_zgonu {
    width: 15em;
}
#data_pierwszych_objawow {
    width: 15em;
}
#data_rozpoznania_choroby {
    width: 15em;
}
#przebieg_choroby{
    width: 15em;
}
#badanie_mri{
    width: 15em;
}
#badanie_plynu{
    width: 15em;
}
#leczenie_objawowe{
    width: 15em;
}
#leczenie_immunomodulujace{
    width: 15em;
}
#data_zgonu{
    width: 15em;
}

.drop-down{
    width: 15em;
}
.ankieta {
    text-align: center;
}
.MyDate{
    width: 15em;
}
.msis_eq5d_check {
    text-align: right;
}





#minor-publishing-actions {
    display: none;
}
#misc-publishing-actions {
    display: none;
}
#ui-datepicker-div {display: none;}